.DS_Store
.svn
*.o
*.lo
build/*
build2/*
dist
external/*/result/
*~
test/plot/AudioEnginePlotTest/CorePlot.framework/
test/#*
ORDER
CCA2LMM
test/*.wav
test/*.dot
test/*.png
pres
DUMP
.ackoptions
bin
*.wav
test-svg/
*.dsp
test.app
pages
faudio_cbproject/

misc
*.bak
bindings/lisp/fa.lisp
bindings/lisp/fa/*
stop-server.sh

*.raw
*.ogg
*.rawMono
.lispworks
repl.sh
#*#
*#*#
*#*.*
_.c
*.tmproj
test/CMakeFiles
tools/CMakeFiles
shared/CMakeFiles
external/CMakeFiles
CMakeFiles
CMakeCache.txt
external/liblo/source/src/.libs
external/liblo/source/src/.deps
external/liblo/source/examples/.libs
external/liblo/source/examples/*.exe
external/liblo/source/src/*.exe
external/liblo/source/src/tools/.deps
external/liblo/source/src/tools/.libs
external/liblo/source/src/tools/*.exe
external/liblo/source/config.log
external/liblo/source/config.status
external/liblo/source/libtool
external/liblo/source/Makefile
external/liblo/source/build/Makefile
external/liblo/source/doc/Makefile
external/liblo/source/examples/Makefile
external/liblo/source/examples/.deps/cpp_example.Po
external/liblo/source/examples/.deps/example_client.Po
external/liblo/source/examples/.deps/example_server.Po
external/liblo/source/examples/.deps/example_tcp_echo_server.Po
external/liblo/source/examples/.deps/nonblocking_server_example.Po
external/liblo/source/lo/Makefile
external/liblo/source/src/Makefile
external/liblo/source/src/tools/Makefile
config.h
external/Makefile
shared/Makefile
test/Makefile
tools/Makefile
Frameworks
cmake_install.cmake
external/cmake_install.cmake
shared/cmake_install.cmake
