.DS_Store
.svn
*.o
*.lo
build/*
build2/*
dist
external/*/result/
OSX
*~
test/plot/AudioEnginePlotTest/CorePlot.framework/
test/#*
ORDER
CCA2LMM
test/*.wav
test/*.dot
test/*.png
pres
DUMP
.ackoptions
bin
*.wav
test-svg/
*.dsp
test.app
pages
faudio_cbproject/

misc
*.bak
bindings/lisp/fa.lisp
bindings/lisp/fa/*
stop-server.sh

*.raw
*.ogg
*.rawMono
.lispworks
repl.sh
