[submodule "external_libraries/portaudio"]
	path = external_libraries/portaudio
	url = git@notes.doremir.com:/repositories/dependencies/portaudio.git
[submodule "external_libraries/portmidi"]
	path = external_libraries/portmidi
	url = git@notes.doremir.com:/repositories/dependencies/portmidi.git
[submodule "external_libraries/sndfile"]
	path = external_libraries/sndfile
	url = git@notes.doremir.com:/repositories/dependencies/sndfile.git
[submodule "external_libraries/gtest"]
	path = external_libraries/gtest
	url = git@notes.doremir.com:/repositories/dependencies/gtest.git
[submodule "external_libraries/fluidsynth"]
	path = external_libraries/fluidsynth
	url = git@notes.doremir.com:/repositories/dependencies/fluidsynth.git
[submodule "external_libraries/boost"]
	path = external_libraries/boost
	url = git@git.doremir.com:/repositories/dependencies/boost.git
[submodule "external_libraries/glib"]
	path = external_libraries/glib
	url = git@git.doremir.com:/repositories/dependencies/glib.git
