.DS_Store
.svn
*.o
*.lo
build/
dist
external/*/result/
OSX
*~
test/plot/AudioEnginePlotTest/CorePlot.framework/
test/#*
ORDER
CCA2LMM
test/*.wav
test/*.dot
test/*.png
pres
DUMP
.ackoptions
build2
bin
*.wav
test-svg/
*.dsp
test.app
pages
faudio_cbproject/

misc
*.bak
